# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg
*.spec

# Virtual environments
venv/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Flatpak build
flatpak/.flatpak-builder/
flatpak/build-dir/
flatpak/repo/
.flatpak-builder/
